body {
    background-color: white;
}
h1 {
    color: black;
    font-family: 'Roboto Slab', serif;
}
p {
    color: grey;
    font-family: 'Alata', sans-serif;
    font-size: 300%;
}
img {
    max-width : 100%;
    height : auto;
}
body {
    margin: 0;
}
.center {
    text-align: center;
}